<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Bucket-List</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
    <header>
        {% include 'main/header.html.twig' %}
    </header>
    <main>
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400 text-center" role="alert">
                    <span class="font-medium">
                        {{ message }}
                    </span>
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        {% include 'main/footer.html.twig' %}
    </footer>
    </body>
</html>