{% extends 'main/base.html.twig' %}
{% block head %}
  <head>
    <meta charset="UTF-8">
    <title>Bucket-List</title>
    {% block stylesheets %}
      {{ encore_entry_link_tags('app') }}
    {% endblock %}
  </head>
{% endblock %}

{% block content %}
  <div class="flex justify-center items-center py-52">
    <div class="bg-white shadow-lg rounded-lg p-8 max-w-md text-center">
      <h2 class="text-4xl font-extrabold dark:text-white pb-6">Liste de tous mes voeux</h2>
      <ul>
        {% for wish in wishes %}
          <li><a href="{{ path('wish_detail', {'id': wish.id}) }}">{{ wish.name }}</a></li>
        {% endfor %}
      </ul>
      <a href="/wish/new">
        <button type="button" class="bg-blue-500 hover:bg-blue-400 text-white font-bold px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded mx-auto">
          Créer un voeu
        </button>
      </a>
    </div>
  </div>
{% endblock %}